---
layout: default
title: GitLab for Startups
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
  - styles-2018.css
  - webcast.css
extra_js:
  - faq.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab for startups
        %h2.page-subtitle Our top tiers are free for YCombinator startups
        .flex-container.buttons-container.margin-top20
          %a.btn.cta-btn.accent{ href: "#startupsform" } Apply today


  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Every startup that was part of the current or two most recent <a href="https://www.ycombinator.com/companies/" target="_blank">YCombinator batches</a> and that raised less than $3M in funding may qualify.
            %p Additionally, all participants would have to keep <a href="https://docs.gitlab.com/ee/user/admin_area/settings/usage_statistics.html#usage-ping-core-only" target="_blank">usage ping</a> enabled and provide us with some kind of reference (logo usage, video case study, interview, etc.) for use on our website.

            %h3 Support note
            %p Free GitLab Ultimate and Gold accounts do not include support. However, you can purchase support for 95% off, at $4.95 per user per month.
            
            %h3 Additional information
            %ul
              %li This offer is limited for 12 months.
              %li The number of seats is the number of different users that will use this license in the next year.
              %li If you have any other questions regarding this program, feel free to reach us at <a href="mailto:startups@gitlab.com" target="_blank">startups@gitlab.com</a>.
              
            %h3 Application process
            %ul
              %li Submit the application form - if you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
              %li Sign the quote that you'll receive shortly
              %li Receive the license key (for Ultimate) or further instructions (for Gold)


        .col-md-4.col-md-offset-1
          %h3.margin-top0 Application form  
          
          .centered-form#startupsform
            %script{ src: "//page.gitlab.com/js/forms2/js/forms2.min.js" }
            %form#mktoForm_2154
            :javascript
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 2154, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          %h3 Submission received!
          %p We will be in touch soon.
          

  #education-q-a.content-container.animated
    .container
      %h2#FAQ.faq-title.light.text-center
        %a{ href: '#FAQ' } Frequently Asked Questions
      .faq-holder.clearfix
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can startups outside YC family apply?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p The initial launch will be for YC Companies only, with the given qualification parameters. On subsequent iterations, we might assess other portfolios.
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                What will happen after one year?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p There might be an option to discuss the following years' discount based on the breadth of usage of different GitLab stages and references that are provided.