### Package

The goal of the Package group is to build a set of features that, within three years, will allow ninety percent of our customers to store all of their packages in GitLab. In order to accomplish this goal, we will expand the footprint of our existing product, build products that fully leverage the benefits of GitLab's [single application](https://about.gitlab.com/handbook/product/single-application/), and unify the container registry and the package registry to create a seamless, unified user experience for building, testing and releasing code.

We will first focus on [improving the usability of our existing registries](https://gitlab.com/groups/gitlab-org/-/epics/1241). By providing a consistent and delightful user experience across integrations, we will be able to quickly introduce new [package manager integrations](https://gitlab.com/groups/gitlab-org/-/epics/1245). Next, we will ensure that all Package features take advantage of GitLab's single application. We will simplify the lives of our users by [standardizing authentication and permissions](https://gitlab.com/groups/gitlab-org/-/epics/1243) for each of our package manager integrations. We will help our users by [creating visibility and transparency](https://gitlab.com/groups/gitlab-org/-/epics/1244) into their registries by providing meta data and evidence for how images/packages are built, by whom and when. 

Then, we will work to [improve the performance and reliability of builds](https://gitlab.com/groups/gitlab-org/-/epics/1850) by rolling out the [dependency proxy](https://docs.gitlab.com/ee/user/group/dependency_proxy/) to each package manager. Increased adoption of the dependency proxy will allow us to build new features that will help our customers to [reduce open source risk by providing visibility and transparency into external dependencies](https://gitlab.com/groups/gitlab-org/-/epics/1248). 

Finally, we will increase adoption and conversational development by providing improved discovery and collaboration features, such as [search](https://gitlab.com/gitlab-org/gitlab/issues/24078). 

- See a high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Apackage)
- Stage usage can be tracked at the Package [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/491720/Package-Dashboard)

The Package stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>
